div.modal-wrapper{
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

div.modal-background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

dialog.dialog-modal{
    position: absolute;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    padding: 3rem;
}

dialog.dialog-modal > header{
    border-bottom: 2px solid black;
}
dialog.dialog-modal > header > h3{
    text-align: left;
}

dialog.dialog-modal > main {
    padding: 1rem;
}

dialog.dialog-modal > footer {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 3rem;
}

dialog.dialog-modal > footer > button{
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

dialog.dialog-modal button.cancel{
    background-color: white;
    border: 3px solid #8D397B;
    border-radius: 0.5rem;
    color: #8D397B;
}

dialog.dialog-modal button.save{
    background-color: #8D397B;
    border: 3px solid #8D397B;
    border-radius: 0.5rem;
    color: white;
}

dialog.dialog-modal button.save:disabled{
    opacity: 80%;
    cursor: not-allowed;
}

dialog.dialog-modal input[type="text"]{
    background-color: white;
}

dialog.dialog-modal label.modal-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

dialog.dialog-modal label.modal-field > span.label-text{
    font-weight: 600;
    font-size: 0.9rem;
    color: #A3A29D;
}

dialog.dialog-modal label.modal-field > div.input-container{
    padding: 0.4rem 1rem;
    border: 2px solid #939496;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
}

dialog.dialog-modal label.modal-field > div.input-container:has(input[type="text"]) ,
dialog.dialog-modal label.modal-field > div.input-container:has(select){
    min-width: 20rem;
}


dialog.dialog-modal label.modal-field > div.input-container:has(input:active, input:focus),
dialog.dialog-modal  label.modal-field > div.input-container:has(select:active, select:focus){
    outline: 1px solid #8D397B;
}


dialog.dialog-modal label.modal-field > div.input-container > *{
    outline: none;
    border: none;
    min-height: 2rem;
    width: 100%;
}

dialog.dialog-modal  label.modal-field > div.input-container > select > option {
    border: none;
    outline: none;
}



dialog.dialog-modal label.modal-field > div.input-container > input::placeholder{
    color: black;
    font-size: 1rem;
}

